<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

	<webSocket enabled="true" />

    <rewrite>
      <rules>

        <!-- WebSocket -->
        <rule name="Socket Proxy" stopProcessing="true">
  	    <match url="^ws/?(.*)" />
  	    <action type="Rewrite" url="http://10.15.15.31:3009/{R:1}" />
	      </rule>

        <!-- API -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://10.15.15.31:3007/api/{R:1}" appendQueryString="true" />
        </rule>

        <!-- Swagger -->
        <rule name="Swaggers Proxy" stopProcessing="true">
          <match url="^body-cam/(.*)" />
          <action type="Rewrite" url="http://10.15.15.31:3010/{R:1}" appendQueryString="true" />
        </rule>

        <!-- Internal API -->
        <rule name="API Internal Proxy" stopProcessing="true">
          <match url="^api_internal/(.*)" />
          <action type="Rewrite" url="http://10.15.15.31:3009/api_internal/{R:1}" appendQueryString="true" />
        </rule>

        <!-- Stream -->
        <rule name="Stream Proxy" stopProcessing="true">
          <match url="^proxy/(.*)" />
          <action type="Rewrite" url="http://10.15.15.31:3007/proxy/{R:1}" appendQueryString="true" />
        </rule>

        <!-- SPA -->
        <rule name="SPA Routes" stopProcessing="true">
  	<match url=".*" />
  	<conditions logicalGrouping="MatchAll">
    	<add input="{REQUEST_URI}" pattern="^/ws" negate="true" />
    	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
  	</conditions>
  	<action type="Rewrite" url="/index.html" />
	</rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>